# IDE - VSCode
.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
back-end/package-lock.json
back-end/public/mix-manifest.json
back-end/public/css/*
back-end/public/js/*
docker/nginx/nginx.conf
front-end/src/environments/environment.prod.ts
front-end/src/environments/environment.ts
front-end/package-lock.json
