<app-common-title title="Proposta" subtitle="gerênciamento de propostas"></app-common-title>
<div class="container">
    <div class="actions">
        <div class="group-buttons">
            <button mat-mini-fab aria-label="Example icon button with a home icon" color="primary" (click)="create()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="filter">
        <mat-form-field appearance="outline" fullWidth>
            <mat-label>Cod. Lyon</mat-label>
            <input matInput type="text" [formControl]=codLyonFc>
        </mat-form-field>
        <mat-form-field appearance="outline" fullWidth>
            <mat-label>Status</mat-label>
            <mat-select multiple [formControl]=statusFc>
                <mat-option value="committee_1">Comitê 1</mat-option>
                <mat-option value="committee_2">Comitê 2</mat-option>
                <mat-option value="lost">Perdido</mat-option>
                <mat-option value="draft">Rascunho</mat-option>
                <mat-option value="canceled">Cancelado</mat-option>
                <mat-option value="winner">Ganho</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="paginateItems?.data">
        <ng-container matColumnDef="cod_lyon">
            <th mat-header-cell *matHeaderCellDef> Cod  </th>
            <td mat-cell *matCellDef="let element"> {{element.cod_lyon}} </td>
        </ng-container>
        <ng-container matColumnDef="client_id">
            <th mat-header-cell *matHeaderCellDef> Cliente  </th>
            <td mat-cell *matCellDef="let element"> {{element?.client?.name}} </td>
        </ng-container>
        <ng-container matColumnDef="type_service_id">
            <th mat-header-cell *matHeaderCellDef> Serviço </th>
            <td mat-cell *matCellDef="let element"> {{element?.type_service?.name}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{ getStatus(element?.status)}} </td>
        </ng-container>
        <ng-container matColumnDef="deadline_date_confirme">
            <th mat-header-cell *matHeaderCellDef> Data confirmação </th>
            <td mat-cell *matCellDef="let element"> {{element.deadline_date_confirme | date: 'dd/MM/y'}} </td>
        </ng-container>
        <ng-container matColumnDef="date_delivery_technique_proposal">
            <th mat-header-cell *matHeaderCellDef> Pro. Técnica </th>
            <td mat-cell *matCellDef="let element"> {{element?.date_delivery_technique_proposal | date: 'dd/MM/y'}} </td>
        </ng-container>
        <ng-container matColumnDef="date_delivery_comercial_proposal">
            <th mat-header-cell *matHeaderCellDef> Pro. Comercial </th>
            <td mat-cell *matCellDef="let element"> {{element.date_delivery_comercial_proposal | date: 'dd/MM/y' }} </td>
        </ng-container>
        <ng-container matColumnDef="summary_scope">
            <th mat-header-cell *matHeaderCellDef> Escopo </th>
            <td mat-cell *matCellDef="let element"> {{element.summary_scope}} </td>
        </ng-container>
        <ng-container matColumnDef="months_exec">
            <th mat-header-cell *matHeaderCellDef> Tempo de contrato </th>
            <td mat-cell *matCellDef="let element"> {{element.months_exec}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell class="action" *matCellDef="let element">
                <button mat-icon-button color="primary" aria-label="detalhe" [routerLink]="'/proposta/'+element.id">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Editar" (click)="update(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="deletar " (click)="destroy(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="paginateItems?.total" [pageSize]="paginateItems?.per_page"
        [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>