<h1 mat-dialog-title>{{this.createForm ? 'Novo' : 'Atualizar'}} Aditivo</h1>
<div mat-dialog-content>
    <form [formGroup]="formType" autocomplete="off">
        <mat-form-field appearance="outline" fullWidth>
            <mat-label>Nº do aditivo</mat-label>
            <input matInput required formControlName="number_additive">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tipo de aditivo</mat-label>
            <mat-select formControlName="type" #typeadditives>
                <mat-option value="deadline">Prazo</mat-option>
                <mat-option value="value">Valor</mat-option>
                <mat-option value="deadline_value">Prazo e valor</mat-option>
                <mat-option value="others">Outros</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="two-col">
            <mat-form-field appearance="outline" fullWidth
                *ngIf="typeadditives.value === 'value' || typeadditives.value === 'deadline_value'  ">
                <mat-label>Valor do aditivo</mat-label>
                <input matInput type="text" formControlName="value" prefix="R$" maxIntegerDigits="12"
                thousandsSeparator="." decimalSeparator="," angularFormsCurrency>
            </mat-form-field>
            <mat-form-field appearance="outline" fullWidth
                *ngIf="typeadditives.value === 'deadline' || typeadditives.value === 'deadline_value'  ">
                <mat-label>Prazo</mat-label>
                <input matInput [matDatepicker]="pickerDate" formControlName="deadline">
                <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="two-col">
            <mat-form-field appearance="outline" fullWidth>
                <mat-label>Data inícial</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date_start">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" fullWidth>
                <mat-label>Data final</mat-label>
                <input matInput [matDatepicker]="pickerFinal" formControlName="date_end">
                <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
                <mat-datepicker #pickerFinal></mat-datepicker>
            </mat-form-field>

        </div>
        <mat-form-field appearance="outline" fullWidth>
            <mat-label>Descritivo</mat-label>
            <textarea matInput required formControlName="description"></textarea>
        </mat-form-field>
    </form>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)="onSubmit()" [disabled]="!formType.valid" color="primary">Salvar</button>
</div>