<app-common-title title="Proposta" [subtitle]="subtitle"></app-common-title>
<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{proposal.client.name}} </mat-card-title>
            <mat-card-subtitle>{{proposal.cod_lyon}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span><b>Comprador</b> {{proposal.buyer.name}}</span>
                    <span><b>Data Solicitação</b> {{proposal.date_request | date: 'd/MM/y':'z'}}</span>
                    <span><b>Código solicitação</b> {{proposal.number_client_request}}</span>
                </mat-list-item>
                <ng-template [ngIf]="proposal.date_delivery_technique_proposal">
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span>
                            <b>Proposta técnica data entrega</b> 
                            {{proposal.date_delivery_technique_proposal | date:'d/MM/y':'z'}}
                        </span>
                    </mat-list-item>
                </ng-template>
                <ng-template [ngIf]="proposal.date_delivery_comercial_proposal">
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span>
                            <b>Proposta comercial, data entrega</b> 
                            {{proposal.date_delivery_comercial_proposal | date:'d/MM/y':'z'}}
                        </span>
                    </mat-list-item>
                </ng-template>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span><b>Prazo execução(Meses)</b> {{proposal.months_exec}} </span>
                    <span><b>Local execução</b> {{proposal.place_to_deploys_services}} </span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <h2 class="revision">Revisões 
        <button mat-mini-fab aria-label="Example icon button with a home icon" color="primary" (click)="create()">
            <mat-icon>add</mat-icon>
        </button>
    </h2>
    <table mat-table [dataSource]="paginateItems?.data">
        <ng-container matColumnDef="number_revision">
            <th mat-header-cell *matHeaderCellDef> Revisão  </th>
            <td mat-cell *matCellDef="let element"> {{element?.number_revision}} </td>
        </ng-container>
        <ng-container matColumnDef="global_price">
            <th mat-header-cell *matHeaderCellDef> Preço global </th>
            <td mat-cell *matCellDef="let element"> R$ {{element.global_price / 100 | number: '1.2-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="medium_histogram">
            <th mat-header-cell *matHeaderCellDef> Histograma médio </th>
            <td mat-cell *matCellDef="let element"> {{element.medium_histogram | number: '.1-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="gross_margin">
            <th mat-header-cell *matHeaderCellDef> Margem bruta </th>
            <td mat-cell *matCellDef="let element"> {{element.gross_margin  | number: '.1-2'}}%</td>
        </ng-container>
        <ng-container matColumnDef="financial_taxis">
            <th mat-header-cell *matHeaderCellDef> Taxa financeira </th>
            <td mat-cell *matCellDef="let element"> {{element.financial_taxis | number: '.1-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="bdi">
            <th mat-header-cell *matHeaderCellDef> BDI </th>
            <td mat-cell *matCellDef="let element"> {{ element.bdi | number: '.1-2' }}%</td>
        </ng-container>
        <ng-container matColumnDef="taxes">
            <th mat-header-cell *matHeaderCellDef> Imposto </th>
            <td mat-cell *matCellDef="let element"> {{ element.taxes  | number: '.1-2'}}%</td>
        </ng-container>
        <ng-container matColumnDef="charge">
            <th mat-header-cell *matHeaderCellDef> Encargo </th>
            <td mat-cell *matCellDef="let element"> {{ element.charge | number: '.1-2' }}%</td>
        </ng-container>
        <ng-container matColumnDef="type_price">
            <th mat-header-cell *matHeaderCellDef> Precificação </th>
            <td mat-cell *matCellDef="let element"> {{ parseTypePrice(element.type_price) }} </td>
        </ng-container>
        <ng-container matColumnDef="data_committee">
            <th mat-header-cell *matHeaderCellDef> Data comitê </th>
            <td mat-cell *matCellDef="let element"> {{ element.data_committee | date: 'dd/MM/y' }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell class="action" *matCellDef="let element">
                <button mat-icon-button color="primary" aria-label="Editar user" (click)="update(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="deletar usuário" (click)="destroy(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <!-- date: 'dd/MM/y' -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="paginateItems?.total" [pageSize]="paginateItems?.per_page"
        [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


</div>