<app-common-title title="Repactuações" [navigation]="false"></app-common-title>
<div class="container">
    <div class="actions">
        <div class="group-buttons">
            <button mat-mini-fab aria-label="Example icon button with a home icon" (click)="create()" color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <table mat-table [dataSource]="paginateItems?.data">
        <ng-container matColumnDef="number_renegotiation">
            <th mat-header-cell *matHeaderCellDef> Nº da repactuação </th>
            <td mat-cell *matCellDef="let element"> {{element.number_renegotiation}} </td>
        </ng-container>
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Ano </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>
        <ng-container matColumnDef="readjustment_base">
            <th mat-header-cell *matHeaderCellDef> Base para reajuste </th>
            <td mat-cell *matCellDef="let element"> {{ readjustmentBase(element.readjustment_base)}} </td>
        </ng-container>
        <ng-container matColumnDef="purchasing_period">
            <th mat-header-cell *matHeaderCellDef> Período de aquisição </th>
            <td mat-cell *matCellDef="let element"> {{element.purchasing_period | date: 'dd/MM/y' : 'z'}} </td>
        </ng-container>
        <ng-container matColumnDef="required">
            <th mat-header-cell *matHeaderCellDef> % Requerido </th>
            <td mat-cell *matCellDef="let element"> {{element.required | number: '.1-2'}}% </td>
        </ng-container>
        <ng-container matColumnDef="approved">
            <th mat-header-cell *matHeaderCellDef> % Aprovado </th>
            <td mat-cell *matCellDef="let element"> {{element.approved | number: '.1-2' }}% </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell class="action" *matCellDef="let element">
                <button mat-icon-button color="primary" aria-label="Editar" (click)="update(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="deletar " (click)="destroy(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="paginateItems?.total"
        [pageSize]="paginateItems?.per_page" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>