.content {
  min-height: 94vh;
}
.menu-icon {
  border-radius: 5px;
  margin-right: 3px;
}

.menu-icon:hover {
  border: #000 1px ridge;
}

.menu-icon:focus {
  outline: none;
}

.painel-home {
  background: #f1f4f6;
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
}
.painel-home:focus {
  outline: none;
}

.mat-card {
  .mat-card-header {
    display: flex;
    align-items: center;
  }

  .mat-card-avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: fill;
  }
}

::ng-deep .mat-expansion-panel-body {
  p , .mat-expansion-panel-header-title{
    cursor: pointer;
    padding: 5px;
  }

  p:hover {
    background-color: #f1f4f6;
  }

  p.active {
    background-color: #f1f4f6;
  }

  p:focus {
    outline: none;
  }
}

.footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 5vh;

  .actions {
    display: flex;
    justify-content: center;
  }
}
