<h1 mat-dialog-title>{{this.createForm ? 'Nova' : 'Atualizar'}} proposta {{ data?.cod_lyon}}
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</h1>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="createClient()">
        <mat-icon>person_add</mat-icon>
        <span>Novo cliente</span>
    </button>
    <button mat-menu-item (click)="createBuyer()">
        <mat-icon>face</mat-icon>
        <span>Novo comprador</span>
    </button>
</mat-menu>
<div mat-dialog-content>
    <mat-vertical-stepper [linear]="createForm" #stepper>
        <mat-step [stepControl]="formBasic">
            <form [formGroup]="formBasic">
                <ng-template matStepLabel>Informações básicas</ng-template>
                <div class="two-col">
                    <mat-form-field appearance="outline">
                        <mat-label>Cliente</mat-label>
                        <mat-select formControlName="client_id">
                            <mat-option>None</mat-option>
                            <mat-option [value]="client.id" *ngFor="let client of clients">{{client.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Cod. solicitação</mat-label>
                        <input matInput required formControlName="number_client_request">
                    </mat-form-field>
                </div>
                <div class="two-col">
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Comprador</mat-label>
                        <mat-select formControlName="buyer_id" required>
                            <mat-option>None</mat-option>
                            <mat-option [value]="buyer.id" *ngFor="let buyer of buyersFiltered">{{buyer.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Data solicitação</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date_request">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="two-col">
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Tipo de serviço</mat-label>
                        <mat-select formControlName="type_service_id" required>
                            <mat-option>None</mat-option>
                            <mat-option [value]="type.id" *ngFor="let type of types">
                                {{type.unity_business}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Data confirm. participação</mat-label>
                        <input matInput [matDatepicker]="dateCon" formControlName="deadline_date_confirme">
                        <mat-datepicker-toggle matSuffix [for]="dateCon"></mat-datepicker-toggle>
                        <mat-datepicker #dateCon></mat-datepicker>
                    </mat-form-field>

                </div>
                <div class="two-col">
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Hora</mat-label>
                        <input matInput type="text" mask="99:99" formControlName="deadline_time_confirme">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fullWidth *ngIf="!createForm">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="committee_1">Comitê 1</mat-option>
                            <mat-option value="committee_2">Comitê 2</mat-option>
                            <mat-option value="lost">Perdido</mat-option>
                            <mat-option value="draft">Rascunho</mat-option>
                            <mat-option value="canceled">Cancelado</mat-option>
                            <mat-option value="winner">Ganho</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formTec" optional="true">
            <form [formGroup]="formTec">
                <ng-template matStepLabel>Proposta técnica</ng-template>
                <mat-form-field appearance="outline" fullWidth>
                    <mat-label>Data entrega</mat-label>
                    <input matInput [matDatepicker]="pickerTec" #dateTec
                        formControlName="date_delivery_technique_proposal">
                    <mat-datepicker-toggle matSuffix [for]="pickerTec"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTec></mat-datepicker>
                </mat-form-field>
                <ng-template matStepLabel>Responsável aréa Técnica</ng-template>
                <ng-template [ngIf]="dateTec.value">
                    <div class="list-users" *ngIf="dateTec.value">
                        <div class="title"> Responsáveis</div>
                        <ul>
                            <li *ngFor="let user of this.userListTec">
                                <mat-checkbox [checked]="hasUserTec(user)" (change)="addOrRemoveTec($event, user)">
                                    {{user.name}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </div>
                    <div class="two-col">
                        <mat-form-field appearance="outline" fullWidth>
                            <mat-label>Data visita técnica</mat-label>
                            <input #dateTecVis matInput [matDatepicker]="dateTechniqueVisit"
                                formControlName="date_technique_visit">
                            <mat-datepicker-toggle matSuffix [for]="dateTechniqueVisit"></mat-datepicker-toggle>
                            <mat-datepicker #dateTechniqueVisit></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fullWidth>
                            <mat-label>Hora</mat-label>
                            <input matInput type="text" required mask="99:99" formControlName="time_technique_visit">
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Local visita técnica</mat-label>
                        <input matInput type="text" formControlName="local_technique_visit">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Detalhes visita técnica</mat-label>
                        <textarea matInput #details_technique_visit maxlength="65535" rows="5"
                            formControlName="details_technique_visit"></textarea>
                        <mat-hint align="end">{{details_technique_visit.value?.length }} / 65535</mat-hint>
                    </mat-form-field>
                </ng-template>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formCom" optional>
            <form [formGroup]="formCom">
                <ng-template matStepLabel>Proposta comercial</ng-template>
                <mat-form-field appearance="outline" fullWidth>
                    <mat-label>Data entrega</mat-label>
                    <input matInput [matDatepicker]="pickerCom" #dateCom
                        formControlName="date_delivery_comercial_proposal">
                    <mat-datepicker-toggle matSuffix [for]="pickerCom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerCom></mat-datepicker>
                </mat-form-field>

                <ng-template matStepLabel>Responsável aréa Comercial</ng-template>
                <div class="list-users" *ngIf="dateCom.value">
                    <div class="title"> Usuários</div>
                    <ul>
                        <li *ngFor="let user of this.userListCom">
                            <mat-checkbox [checked]="hasUserCom(user)" (change)="addOrRemoveCom($event, user)">
                                {{user.name}}
                            </mat-checkbox>
                        </li>
                    </ul>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="formSummaryScope">
            <form [formGroup]="formSummaryScope">
                <ng-template matStepLabel>Escopo resumido</ng-template>
                <mat-form-field appearance="outline" fullWidth>
                    <mat-label>Escopo resumido</mat-label>
                    <input matInput maxlength="190" #summary_scope required formControlName="summary_scope">
                    <mat-hint align="end">{{summary_scope.value?.length}} / 190</mat-hint>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="formScope">
            <form [formGroup]="formScope">
                <ng-template matStepLabel>Escopo</ng-template>
                <mat-form-field appearance="outline" fullWidth>
                    <mat-label>Escopo</mat-label>
                    <textarea #scope maxlength="65535" matInput required rows="25" formControlName="scope"></textarea>
                    <mat-hint align="end">{{scope.value?.length }} / 65535</mat-hint>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formExe">
            <form [formGroup]="formExe">
                <ng-template matStepLabel>Execução</ng-template>
                <div class="two-col">
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Em meses</mat-label>
                        <input matInput type="number" required formControlName="months_exec">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fullWidth>
                        <mat-label>Local</mat-label>
                        <input matInput #place_to_deploys_services maxlength="190" required
                            formControlName="place_to_deploys_services">
                        <mat-hint align="end">{{place_to_deploys_services.value?.length }} / 190</mat-hint>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formDeploy">
            <form [formGroup]="formDeploy">
                <ng-template matStepLabel>Prestação de serviço</ng-template>
                <mat-form-field appearance="outline" fullWidth>
                    <mat-label>Histograma Médio</mat-label>
                    <input matInput required formControlName="medium_histogram">
                </mat-form-field>
                <mat-form-field appearance="outline" fullWidth>
                    <mat-label>Anexos</mat-label>
                    <ngx-mat-file-input multiple (change)="selectDocumentToUpload($event)"></ngx-mat-file-input>
                </mat-form-field>
                <mat-list>
                    <mat-list-item *ngFor="let file of data?.files">
                        <mat-icon mat-list-icon>article</mat-icon>

                        <div mat-line> {{file.name}} </div>
                        <div mat-line> {{file.updated_at | date: 'dd/MM/y' : 'z'}} </div>
                        <div>
                            <button mat-button (click)="downloadFile(file)">
                                <mat-icon mat-list-icon>cloud_download</mat-icon>
                            </button>
                            <button mat-button (click)="deleteFile(file)">
                                <mat-icon mat-list-icon>delete</mat-icon>
                            </button>
                        </div>


                    </mat-list-item>
                </mat-list>
                <mat-form-field appearance="outline" fullWidth>
                    <mat-label>Considerações finais</mat-label>
                    <textarea matInput #observations maxlength="65535" formControlName="observations"></textarea>
                    <mat-hint align="end">{{observations.value?.length }} / 65535</mat-hint>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext *ngIf="createForm">Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step *ngIf="createForm">
            <ng-template matStepLabel>Ação</ng-template>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-raised-button color="primary" 
                    (click)="onSubmit()"
                    [disabled]="this.submitting"
                    >{{ createForm ? 'Criar':'Atualizar'}}
                </button>
            </div>
        </mat-step>
    </mat-vertical-stepper>




</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">cancelar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="!createForm" [disabled]="this.submitting">
        Atualizar
    </button>
</div>