.mat-form-field {
  display: block;
}

ul {
  list-style-type: none;
  // margin-top: 4px;
  margin: 0 -25px 10px;
}

.list-users {
  
}

.two-col {
  display: flex;

  .mat-form-field {
    width: 50%;
    margin: 1px;
  }
}

.three-col {
  display: flex;

  .mat-form-field {
    width: 33%;
    margin: 1px;
  }
}
