<div class="top-header">
    <div class="icon-page">
        <mat-card>
            <span class="material-icons">
                {{icon}}
            </span>
        </mat-card>
    </div>
    <div class="title-container">
        <div class="title">
            {{title}}
        </div>
        <div class="sub-title">
            {{subtitle}}
        </div>
    </div>
    <div class="actions" *ngIf="navigation">
        <div class="group-buttons">
            <button (click)="back()" mat-mini-fab aria-label="Example icon button with a home icon">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
</div> 
